/*  Colors

    #DFDFDF --> Text
    #2A2B2D --> Site Background 
    #444444 --> Page Background
*/


nav{
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
a{
    transition: font-size .5s ease;  
    color: #DFDFDF;
}
a:hover{
    font-size: 1.2em;
}
.top{
    border-bottom: solid #2A2B2D 5px;
}
body{
    background-color: #444444;
    border-radius: 1rem;
}
html{
    background-color: #2A2B2D;
    color: #DFDFDF;
}
footer{
    border-top: solid #2A2B2D 5px;
}
img{
    border-radius: 10px;
    height: 27%;
    width: 27%;
}
.movie-content{
    font-size: 1.7em;
}
.intro{
    border-bottom: 2px #DFDFDF solid;
}



